.MuiAutocomplete-root {

    width: 90%;
}

.MuiAutocomplete-input {
    font-size: 20px !important;
}


.MuiAutocomplete-option {
    font-size: 20px !important;
}

.MuiTextField-root label {
    font-size: 20px;
}

.MuiTextField-root legend {
    font-size: 15px;
}

.search-icon {
    position: absolute !important;
    padding: 0;
    margin: 0;
    right: 10%;
    top: 50%;
    height: 100%;
    width: 7%;
    transform: translateY(-50%);
}
